@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/*font-family: 'Roboto', sans-serif;*/

button, .card:hover {
    cursor: pointer;
}

body {
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top {
    min-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reset button{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 66px;
    display: flex;
    align-items: center;
    justify-items: center;

    color: #EEF9BF;
    background-color: #75b79e;

    width: fit-content;
    height: 50px;
    border-radius: 15px;
    border-style: none;
}



.title p {
    width: fit-content;
    height: 63px;
    margin-top: 40px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    color: #75b79e;
    text-align: center;
}

.chronometer {
    width: fit-content;
    height: fit-content;
}

.chronometer p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 66px;
    color: #75b79e;
}

.deck {
    height: 326px;
    margin-top: 48px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 118px;
    height: 146px;

    margin-bottom: 34px;
    margin-left: 16px;
    margin-right: 16px;

    position: relative;
    
}

.back, .front {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    backface-visibility: hidden;
    transition: all .2s;
    transform-style: preserve-3d;

    position: absolute;
}

.back img {
    width: 100px;
    height: 100px;
}

.front img {
    width: 50px;
    height: 50px;
}


.flip {
    transform: rotateY(180deg); 
}

@media (max-width: 992px) {
    .reset button{
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-items: center;
    
        width: fit-content;
        height: 40px;
        border-radius: 10px;
        border-style: none;
    }

    .title p {
        width: 400px;
        height: fit-content;
        font-size: 40px;
        margin-top: 20px;
    }

    .chronometer p {
        font-size: 20px;
    }

    .deck {
        max-width: 760px;
        height: fit-content;
    }
}

@media(max-width: 768px) {
    .top {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 25px;
    }

    .title p {
        width: 250px;
        font-size: 36px;
    }

    .deck {
        max-width: 456px;
        margin-top: 0px;
    }
}

@media (max-width: 576px) {
    .deck {
        max-width: 117px;
    }

    .card {
        margin-left: 0;
        margin-right: 0;
    }
}